/* Welcome to Compass. Use this file to write IE specific override styles.
 * Establish the basic building blocks of the project */

@import "compass/typography/vertical_rhythm";
@import "sassy-buttons";
@import "modular-scale";
@import "utilities";

/**
 * Configure Modular Scale.
 */

$ratio: $golden;
$base-size: 12px 16px;

/**
 * Available Ratios
 * $golden: 1.618
 * $gold: $golden
 * $double-octave: (4 / 1)
 * $major-twelfth: (3 / 1)
 * $major-eleventh: (8 / 3)
 * $major-tenth: (5 / 2)
 * $octave: (2 / 1)
 * $major-seventh: (15 / 8)
 * $minor-seventh: (16 / 9)
 * $major-sixth: (5 / 3)
 * $minor-sixth: (8 / 5)
 * $fifth: (3 / 2)
 * $augfourth: (1 / 1.4142135623730950488) // (1 / √2)
 * $fourth: (4 / 3)
 * $major-third: (5 / 4)
 * $minor-third: (6 / 5)
 * $major-second: (9 / 8)
 * $minor-second: (16 / 15)
 */

/**
 * Configure Vertical Rhythm.
 */

/* Font-size of your body copy. */
$base-font-size: ms(1);
/* Making this half the height of the desired body copy line-height */
/* helps prevent sparse leading at different font-sizes. */
$base-line-height: 12px;

@include establish-baseline();

/**
 * Typography
 */

$primary-typeface: Goergia, serif;                /* Body copy font stack. */
$secondary-typeface: Helvetica, Arial, san-serif; /* Heading font stack. */
$tertiary-typeface: $secondary-typeface;          /* Accent font stack. (Defaults to the secondary typeface.) */

/**
 * Colors.
 */

$primary-color: #333;       /* Body copy color. */
$secondary-color: #16515c;  /* Link color. */
$tertiary-color: #8A2654;   /* Accent color. */
$border-color: #ccc;        /* Border color. */

/**
 * @todo Add light and dark background colors as well as
 * reversed colors for use on the dark background.
 */

