/**
 * @file
 * Mixins for standard navigation design patterns.
 */

/**
 * Responsive dropdown.
 * This style requires rwd-nav.js.
 * @see http://filamentgroup.com/lab/responsive_design_approach_for_navigation/
 */

@mixin responsive-navigation($font-size: 20px, $border-color: $border-color) {
  .nav-heading {
    @include invisible;
  }

  .menu {
    border: 1px solid $border-color;
  }

  li {

    @include trailing-border(1px, .01, $font-size, solid);
    border-color: $border-color;

    &:last-child {
      border-bottom: 0;
    }
  }

  a {
    display: block;
    padding: .5em;
    @include adjust-font-size-to($font-size);
    @include rhythm(0, .5, .5, 0, $font-size);
  }

  @media screen and (min-width: 620px) {
    &,
    .menu {
      float: left;
    }

    li {
      border-bottom: none;
      float: left;
    }

    a {
      @include adjust-font-size-to(ms(0));
      @include rhythm(0, .5, .5, 0, ms(0));
    }
  }
}

@mixin select-navigation($font-size: 20px) {
  position: relative;
  overflow: hidden;

  a {
    padding-right: 2em;
  }

  .nav-heading {
     clip: auto;
     position: absolute;
     top: 0;
     left: auto;
     right: 0;
     display: block;
     width: 2em;
     height: 2em;
     background: #ccc url(img/icons.png) no-repeat -205px 45%;
     text-indent: -999em;
     cursor: pointer;
  }

  .menu {
    float: none;
  }

  &.expanded {
    .nav-heading {
      // flips back arrow
      background-position: -169px 45%;
    }

    li {
      display: list-item;

      &.active {
        border-bottom-width: 1px;
      }
    }
  }

  li {
    clear: left;
    display: none;

    &.active {
      display: list-item;
      border-bottom-width: 0;
    }
  }
}
