/**
 * @file:
 * General use mixins.
 */

// Hides an element in an accesible way.
@mixin invisible {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

// Adds IE hacks for inline block.
@mixin inline-block {
  display: inline-block;

  // Trigger has layout mode.
  *zoom: 1;
  *display: inline;
}

// Clears floated elements.
@mixin clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}
