/**
 * @file
 * Sitewide default Styles.
 * This defines all the base unclassed HTML tag styles for your site.
 *
 * If a WYSIWYG is available, it should reference this file for
 * for styling, so it matches the user facing page as close as possible.
 * The only class selectors used here, are those made available to the
 * WYSIWYG editor.
 */

@import "base";

html > body {
  color: $primary-color;
  @include adjust-font-size-to(ms(1));
  font-family: $primary-typeface;
  padding: 0 1em;
  //@include debug-vertical-alignment();
}

/**
 * @todo Create a condensed and more readable mixin, for vertical-rhythm, than these.
 */

h1 {
  $font-size: ms(5);
  @include adjust-font-size-to($font-size);
  @include rhythm(1, 0, 0, 1, $font-size);
  font-family: $secondary-typeface;
}

h2 {
  $font-size: ms(4);
  @include adjust-font-size-to($font-size);
  @include rhythm(3, 0, 0, 1, $font-size);
  font-family: $secondary-typeface;
}

h3 {
  $font-size: ms(3);
  @include adjust-font-size-to($font-size);
  @include rhythm(3, 0, 0, 0, $font-size);
  font-family: $tertiary-typeface;
  font-weight: normal;
  max-width: 28em;
}

h4 {
  $font-size: ms(2);
  @include adjust-font-size-to($font-size);
  @include rhythm(3, 0, 0, 0, $font-size);
  font-family: $secondary-typeface;
  text-transform: uppercase;
}

h5 {
  $font-size: ms(2);
  @include adjust-font-size-to($font-size);
  @include rhythm(3, 0, 0, 0, $font-size);
  font-family: $tertiary-typeface;
}

h6 {
  $font-size: ms(1);
  @include adjust-font-size-to($font-size);
  @include rhythm(3, 0, 0, 0, $font-size);
  font-family: $secondary-typeface;
}

p {
  $font-size: ms(1);
  @include adjust-font-size-to($font-size);
  @include rhythm(0, 0, 0, 1, $font-size);
  max-width: 35em;
}

img {
  @include margin-trailer(1);
  height: auto;
  max-width: 100%;
}

blockquote {
  @include rhythm(1, 0, 0, 1, ms(0));
}

em {
  color: darken($primary-color, 10%);
  font-family: monospace;
}

strong {
  font-weight: bold;
}

small {
  font-size: .75em;
}

/**
 * Links
 */

a {
  color: $secondary-color;
  text-decoration: none;

  &:visited {
    color: lighten($secondary-color, 10%);
  }

  &:hover,
  &:active {
    color: darken($secondary-color, 10%);
    text-decoration: underline;
  }
}

/**
 * Lists
 */

ul,
ol {
  @include rhythm(1, 0, 0, 1, ms(0));
}

dt {
  $font-size: ms(2);
  font-family: $secondary-typeface;
  @include adjust-font-size-to($font-size);
  @include adjust-leading-to(1.5, $font-size);
  font-weight: normal;
}

/**
 * Tables
 */

// Must be defined outside a selector for scope reasons.
$table-size: ms(0);

table {
  @include adjust-font-size-to($table-size);
  // Align every third line to every second baseline.
  @include adjust-leading-to(1.5, $table-size);
  @include rhythm(1, 0, 0, 1, $table-size);
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

thead {
  th {
    vertical-align: bottom;
  }

  &:first-child tr {
    th,
    td {
      // Set to transparent to preserve vertical rhythm.
      border-color: transparent;
    }
  }
}

th,
td {
  border-color: $border-color;
  border-bottom: 0 none;
  @include rhythm(0, .167, .167, 0, $table-size);
  @include leading-border(1px, .167, $table-size, solid);
  padding-left: .5em;
  padding-right: .5em;
  text-align: left;
  vertical-align: top;
}

th {
  font-weight: bold;
}

caption {
  caption-side: bottom;
  @include leader(1/3);
  padding-left: .5em;
  text-align: left;
  font-style: italic;
}

/**
 * WYSIWYG available Styles.
 */

.intro {
  $font-size: ms(3);
  @include adjust-font-size-to($font-size);
  @include padding-leader(.25, $font-size);
  @include margin-trailer(.75, $font-size);
}

.fine-print {
  $small-size: ms(0);
  @include adjust-font-size-to($small-size);
  // Align every third line to every second baseline.
  @include adjust-leading-to(1.5, $small-size);
  // Add margin based on the local leading.
  @include margin-trailer(4/3);
  display: block;
  max-width: 48em;
}

.drop-cap{
  &:first-letter {
    font-size: 300%;
    float: left;
    margin: .133em .125em 0 0;
    text-transform: uppercase;
  }
}

.image-left {
  float: left;
  margin-right: 1em;
}

.image-right {
  clear: left;
  float: right;
  margin-left: 1em;
}

/**
 * Component Styles
 * @todo: move to screen.scss
 */

#header {
  margin: 0;
  padding: 0;
}

.region-content {
  max-width: 38em;
}

.breadcrumb {
  @include padding-trailer(1);
}
